@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    background-color: rgb(149, 84, 209);
    position: sticky;
    top: 0;
    color: white;
    margin: 0;
    padding: 0.1em;
}


